/* Centre le formulaire dans la page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Donne un fond blanc et une bordure arrondie au formulaire */
.form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Ajoute un espacement entre les éléments du formulaire */
.form-group {
    margin-bottom: 20px;
}

/* Style les labels */
label {
    font-weight: bold;
}

/* Style les boutons */
.btn {
    margin-right: 10px;
}

/* Style la liste des événements */
.list-group-item {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Style les titres des événements */
h5 {
    margin-bottom: 5px;
}

/* Style les dates des événements */
small {
    font-style: italic;
}

/* Donne un espacement aux boutons "Modifier" et "Supprimer" */
button {
    margin-right: 10px;
}

body {
    background-color: #FFEEDB;
}